@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.custom-bg {
  background: #ffb22c;
}

.custom-m {
  margin: 0;
}

h1 {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 17vw;
}

h2 {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
}

p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}

#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/pexels-dana-tentis-118658-750073.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#button-header {
  background-color: #ffb22c;
  border-color: #f7f7f7;
  color: #f7f7f7;
  font-weight: bold;
  text-transform: uppercase;
  border-width: 3px;
}

#heading2 {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-size: 5vw;
  text-align: center;
  margin: 20px;
}

#main-footer {
  background-color: #ffb22c;
}

#heading-ubi {
  color: white;
}

label {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#button-form {
  background-color: #ffb22c;
  border-color: black;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-width: 3px;
}
