body {
    background: linear-gradient(to right, #fff, #f9e3c7);
}

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.titulo-menu {
    font-size: 2.8rem;
    font-weight: 800;
    color: #222;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 4px solid #FFB22C;
}

.titulo-categoria {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    border-left: 6px solid #FFB22C;
    padding-left: 12px;
}

.navbar {
    background: #FFB22C;
    padding: 15px;
    border-bottom: 2px solid #333;
}

#main-footer {
    background-color: #ffb22c !important;
}
